html {
  font-size: 62.5% !important; }

body {
  font-family: 'Montserrat' !important;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  overflow-y: auto !important; 
  overflow-y: auto !important; 
}
p {
  font-size: 1.4rem;
  margin-bottom: 0px;
}

.App {
  text-align: center;
}
