.titleWrapper {
  .title {
    h1 {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 3.8rem;
      line-height: 4.5rem;
      color: #14293C;
    }
  }
}