
.resultsListWrapper {
    margin: 0 200px;
    display: grid;
    grid-template-columns: 1fr;
    @media only screen 
      and (max-device-width: 800px) {
      margin: 0 auto;
    }
    .listItems {
      justify-content: center;
      list-style-type: none;
      .singleItem {
        padding: 1rem 2rem;
      }
    }
    .flex-row {
      display: inline-flex;
    }
    .flex-row {
      display: grid;
      /* grid-template-columns: 1fr; */
      grid-gap: 20px;
      align-items: center;
      grid-template-columns: 1rem 1fr 1fr 1fr;
    }
    .header {
      color: #fff;
      background-color: #14293C;
      border-top-left-radius: 0.7rem;
      border-top-right-radius: 0.7rem;
      p {
        font-size: 1.8rem;
        letter-spacing: 0.06em;
        line-height: 21px;
      }
    }
    .element {
      padding: 1rem 3rem
    }
}