
.resultsListWrapper {
    margin: 0 200px;
    display: grid;
    grid-template-columns: 1fr;
    @media only screen 
      and (max-device-width: 800px) {
      margin: 0 auto;
    }
    .listItems {
      justify-content: center;
      list-style-type: none;
      .singleItem {
        padding: 1rem 2rem;
      }
    }
    .flex-row {
      display: inline-flex;
    }
    .flex-row {
      display: grid;
      /* grid-template-columns: 1fr; */
      grid-gap: 20px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header {
      background-color: #EDEDED;
      border: 1px solid #000;

    }
    .element {
      padding: 1rem 3rem
    }
}